body {
    font-family: sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {
    color: hotpink
} */

section {
    /* display: flex; */
    /* text-align: justify; */
    width: 33.1%;
    height: 450px;
    border: 1px solid red;
    /* padding: 10px */
    margin: 10px;
    padding: 10px
}

.row {
    display: flex;
    overflow: hidden;
}

section * {
    width: 100%;
}

header {
    color: blue; 
    background-color: grey;
    height: 60px; 
    font-size: 20; 
    text-align: center;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    padding-bottom: 20px
}

aside {
    margin-top: 80px
}
